name: CI

permissions:
  contents: read

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "docs/**"

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20
        with:
          version: latest

  build-demo:
    name: build demo apps
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, windows]
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Test
        run: go build ./demo-app/cmd/...

  test:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, windows, macos]
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Test
        run: go test -v -race -coverprofile="coverage.tmp.txt" ./...

      - name: Filter coverage
        if: matrix.os == 'ubuntu'
        run: cat coverage.tmp.txt | grep -v "demo-app" | grep -v "platforma/docs" > coverage.txt

      - name: Upload coverage reports to Codecov
        if: matrix.os == 'ubuntu'
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1
        with:
          path-to-profile: coverage.txt
